<div class="flex items-center justify-between">
  <div class="flex flex-col">
    <span class="font-medium"><%= todo.title %></span>
  </div>
  <div>
    <% if todo.due_date? %>
      <span class="text-sm text-gray-500 dark:text-gray-400">
        Due: <%= todo.due_date.strftime("%b %d, %Y") %>
      </span>
    <% end %>
  </div>
</div>
<% if todo.description? %>
  <span class="text-sm text-gray-500 dark:text-gray-400">
    <%= todo.description %>
  </span>
<% end %>

