<%= turbo_frame_tag :modal do %>
  <%= render_dialog open: true do %>
    <%= dialog_content do %>
      <div class="flex flex-col space-y-1.5 text-center sm:text-left">
        <h2 class="text-lg font-semibold leading-none tracking-tight">
          Create Todo
        </h2>
        <p class="text-sm text-muted-foreground">
        Create a new todo.
        </p>
      </div>
      <%= render "form", todo: @todo %>
    <% end %>
  <% end %>
<% end %>
